body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

input.text {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	font-size: 24px;
	width: 80px;
}

input.button {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(11, 13, 156, 1);
	color: rgba(11, 13, 156, 1);
	cursor: pointer;
	font-size: 24px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

input.button:hover {
	background-color: rgba(11, 13, 156, 1);
	color: rgba(255, 255, 255, 1);
}


#checkerboard {
	display: inline-block;
	min-height: 500px;
	min-width: 500px;
	text-align: center;
}

.intro {
	font-size: 24px;
}

/*Style the two different types of squares (light and dark)*/

/*Yellow*/
.square_one {
	background-color: rgba(251, 217, 16, 1);
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

/*Blue*/
.square_two {
	background-color: rgba(11, 13, 156, 1);
	display: inline-block;
	margin: 0;	
	padding: 0;
	vertical-align: top;
}